
 /*-------- CSS Reset -------*/

 *{
 padding:0;
 margin:0;
 font-size:100%;
 line-height:1em;
 }

 /*------- Main Styling ------*/
 body{
   width:80%;
   max-width: 670px;
   margin: auto;
   background:#F7F3E3;
   color: #04151F;
   font-family: 'Alata', serif;}

ol{
     text-align: center;
     color: #546A7B;
     list-style-type: none;
     line-height: 1em;

   }
 /*---------- Typography ------------*/

 h1,h2,h3,h4 {
     font-weight: normal;
     color:#686963;
     text-align: center;
   }

   p,blockquote{
     margin-bottom: 1.5em;
     line-height: 1.6;
     color: #686963;
   }

 p {font-family: 'Open Sans', sans-serif;}

 h1 {font-size: 2.827em;
     margin-top: 2em;
     margin-bottom: 0.1em;}

 h2 {font-size: 1.999em;
     margin: 3em 0 1em 0;}

 h3 {font-size: 1.41em;
     margin-bottom: 1em;
     color: #686963;}

 blockquote {
   font-size: 1.2em;
   hanging-punctuation: first;
   text-indent: -0.44em;
   color: #686963; }

 blockquote cite {
   font-size:0.75em;
   color: #04151F;
 }

 h3 {font-style: italic;}

 header p {font-size:1.35em}
 /*---------style links------*/
 a{
   color: #04151F;
   text-decoration:none;
 }
 a:hover{
   color:#04151F;
   border-bottom: none;
 }
 /*-----------Image------------*/
 img {
   display: block;
   margin: 3em auto;
   padding: 0;
   max-width: 100%;}
   /*----------Table--------*/

   table {
     margin: auto;
     display: table;
     border-collapse: collapse;
     border-spacing: 2px;
     margin-bottom: 2em;
     width: 100%;
     color: #686963;
     background-color: #F7F3E3;

   }

   caption {
     margin-bottom: 1.5em;
     text-transform: uppercase;
     font-weight: bold;
   }


   th{
     color: #686963;
     text-transform: uppercase;
     font-weight: normal;
     text-align: left;
     background: #BCAF9C;
     border: 2px solid #686963;
   }

   td, th {
     padding: 0.5em;
        border: 1px solid #686963;
   }

 /*---------navigation--------*/
 nav {
   position: fixed;
   top: 0;
   left: 0;
   margin: 0;
   width: 100%;
   background-color: #BCAF9C;
   padding: 1.2em 0;
   font-size: 0.95em;
 }

 nav ul {
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 1px;
 }
 nav ul li{
   display: inline;
   margin: 20px;
 }

 nav a:link{
   color: #fafafa;
 }

 nav a:visited{
   color: #fafafa;
 }


 nav a:hover{
   border-bottom: none;
   color: #686963;
 }

 /*---------footer--------*/
 footer {
     text-align: center;
     font-size: 0.707em;
     margin-top: 4em;
     padding: 2em 0 4em 0;
     color:#686963;}
